<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/682/682055.png">
    <script src="{{ url_for('static', filename='js/tailwind.js') }}"></script>
</head>

<body class="bg-gray-100">

    <!-- Include Header -->
    {% include "header.html" %}


    <div class="container mx-auto my-10">
        <h1 class="text-3xl text-center font-bold text-gray-800 mb-6">Tickets</h1>

        <!-- Include flash messages -->
        {% include "flash_messages.html" %}

        <div class="w-full max-w-4xl mx-auto flex py-3 px-4 items-center justify-between gap-3 bg-white">
            <div>
                {% if tickets %}
                <form id="delete_all_users" action="/delete_all_ticket" method="post"
                    class="flex justify-center items-center shadow-md">
                    <button class="bg-red-500 px-8 py-2 rounded-md text-white text-md hover:bg-red-600"
                        type="submit">Remove All</button>
                </form>
                {% else %}
                {% endif %}
            </div>
            <div class="flex items-center justify-end gap-3">
                <form action="/tickets" method="get" class="flex justify-center items-center shadow-md">
                    <a href="/tickets"
                        class="bg-red-500 flex justify-center items-center rounded-none w-10 h-10 text-white text-lg rounded hover:bg-red-600"
                        type="submit"><ion-icon name="reload-outline"></ion-icon></a>
                    <input type="text"
                        class="leading-none h-10 text-sm rounded-none w-32 px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400"
                        name="search" value="{{ search_term  }}" placeholder="Search..">
                    <button class="bg-blue-500 rounded-none w-10 h-10 text-white text-lg rounded hover:bg-blue-600"
                        type="submit"><ion-icon name="search-outline"></ion-icon></button>
                </form>
                <!-- <form class="max-w-sm">
                    <label for="file-input" class="sr-only">Choose file</label>
                    <input type="file" name="file-input" id="file-input" class="block w-full border border-gray-200 bg-white text-black shadow-sm rounded-lg text-xs 
                                  focus:z-10 focus:border-blue-500 focus:ring-blue-500 
                                  disabled:opacity-50 disabled:pointer-events-none 
                                  file:bg-white file:border-0 
                                  file:me-4
                                  file:py-3 file:px-4" accept=".csv">
                    <button type="submit">Submit</button>
                </form> -->
                <a href="/add-ticket"
                    class="text-white block bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">ADD
                    TICKET</a>
            </div>
        </div>



        <!-- Table to display users -->
        <div class="overflow-x-auto shadow-md sm:rounded-lg w-full max-w-4xl mx-auto">
            <table class="w-full text-sm text-left text-gray-500 bg-white">
                <thead class="text-xs text-center text-gray-700 uppercase bg-gray-200">
                    <tr>
                        <!-- <th scope="col" class="px-6 py-3">User id</th> -->
                        <th scope="col" class="px-6 py-3">Title</th>
                        <th scope="col" class="px-6 py-3 w-52">Description</th>
                        <th scope="col" class="px-6 py-3">Date</th>
                        <th scope="col" class="px-6 py-3">Status</th>
                        <th scope="col" class="px-6 py-3">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if tickets %}
                    {% for ticket in tickets %}
                    <tr class="border-b text-center {% if ticket.status == 0 %} bg-green-50 {% elif ticket.status == 1 %} bg-yellow-50 {% elif ticket.status == 2 %} bg-red-50 {% endif %}">
                        <!-- <td class="px-6 py-4 text-gray-800">{{ ticket.user_id }}</td> -->
                        <td class="px-6 py-4 text-gray-800">{{ ticket.title }}</td>
                        <td class="px-6 py-4 text-gray-800">{{ ticket.description }}</td>
                        <td class="px-6 py-4 text-gray-800">{{ ticket.created_at_formatted }}</td>
                        <td class="px-6 py-4 text-gray-800">
                            {% if ticket.status == 0 %}
                            Success
                            {% elif ticket.status == 1 %}
                            Pending
                            {% elif ticket.status == 2 %}
                            Rejected
                            {% endif %}
                        </td>
                        <td class="">
                            <div class="flex justify-center items-center gap-3">
                                <a class="bg-blue-500 text-white w-10 h-10 text-lg rounded flex justify-center items-center hover:bg-blue-600"
                                    href="edit-ticket/{{ticket.id}}"><ion-icon name="pencil-outline"></ion-icon></a>
                                <form method="POST" action="{{ url_for('delete_ticket') }}">
                                    <input type="hidden" name="id" value={{ticket.id}}>
                                    <button class="bg-red-500 text-white w-10 h-10 text-lg rounded hover:bg-red-600"
                                        type="submit"><ion-icon name="trash-outline"></ion-icon></button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="5" class="px-6 py-4 text-center text-gray-500">No tickets found</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <!-- <div class="max-w-4xl mx-auto mt-3">
            <h1 class="text-center text-sm font-normal tracking-wide">Total tickets: {{tickets_count}}</h1>
        </div> -->
        <div class="flex items-center justify-center gap-3 mt-3 max-w-4xl mx-auto">
            <!-- Pagination -->
            {% for page_num in pagination.iter_pages() %}
            {% if page_num %}
            {% if page_num == pagination.page %}
            <!-- Active Page -->
            <span class="px-4 py-2 bg-blue-500 text-white rounded cursor-not-allowed">
                {{ page_num }}
            </span>
            {% else %}
            <a href="{{ url_for('tickets', page=page_num, search=search_term) }}"
                class="px-4 py-2 bg-white text-black rounded hover:bg-blue-500 hover:text-white shadow-md transition">
                {{ page_num }}
            </a>
            {% endif %}
            {% else %}
            <!-- Ellipsis (e.g., "..." for skipped pages) -->
            <span class="px-4 py-2 text-gray-500">
                ...
            </span>
            {% endif %}
            {% endfor %}
        </div>



    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>